.speed_slider {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  width: 100%;
}

.speed_slider svg {
  height: auto;
  width: 3.6rem;
  transform: scale(0.75);
  fill: var(--grey-text);
}
